[Unit]
Description=Add plugdev groups

[Service]
Type=oneshot
ExecStart=/usr/libexec/toxicblue-groups
Restart=on-failure
RestartSec=30
StartLimitInterval=0

[Install]
WantedBy=default.target